@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5fe;
}

.container {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image {
  position: relative;
  width: 50%;
  height: 500px;
  background-image: url("../assets/plan.jpg");
  -webkit-box-shadow: -5px 3px 20px #8484c4;
          box-shadow: -5px 3px 20px #8484c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  z-index: 2;
}

.image .buys {
  width: 35%;
  height: 33px;
  padding-top: 5px;
  text-align: center;
  color: white;
  background-color: #07072b;
  border-bottom-right-radius: 12px;
}

.card {
  outline: none;
  -webkit-box-shadow: 3px 3px 15px #b2b2c0;
          box-shadow: 3px 3px 15px #b2b2c0;
}

.info {
  width: 40%;
}

.info .details {
  padding: 10px;
}

.info .details .additonal {
  font-size: 20px;
}

.info ul li {
  list-style-type: none;
  margin-top: 20px;
}

.info input {
  background: none;
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  height: 45px;
  border-radius: 9px;
  border: 2px solid gray;
}

.info button {
  display: block;
  width: 100%;
  height: 45px;
  margin: 4em auto 1em auto;
  text-align: center;
  text-transform: uppercase;
  border-radius: 9px;
  color: white;
  background-color: #100822;
  border: none;
  outline: none;
}

.info button:hover {
  background-color: #22223f;
}

@media screen and (max-width: 1200px) {
  .image {
    height: 500px;
    width: 100%;
    background-size: 250%;
  }
  .image .buys {
    width: 45%;
  }
  .info {
    width: 100%;
  }
  .details .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .image {
    height: 500px;
    width: 100%;
    background-size: 250%;
  }
  .image .buys {
    width: 60%;
  }
  .info {
    width: 100%;
  }
  .details .title {
    font-size: 30px;
  }
  .details h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .image {
    height: 450px;
    width: 100%;
    background-size: 250%;
  }
  .image .buys {
    width: 60%;
  }
  .info {
    width: 70%;
  }
  .details .title {
    font-size: 25px;
  }
  .details h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    display: block;
  }
  .image {
    height: 300px;
    width: 100%;
    background-size: 100%;
  }
  .image .buys {
    width: 60%;
  }
  .info {
    width: 100%;
  }
  .details .title {
    font-size: 25px;
  }
  .details h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: block;
  }
  .image {
    height: 250px !important;
    width: 100%;
    background-size: 100%;
  }
  .image .buys {
    width: 43%;
  }
  .info {
    width: 100%;
  }
  .details .title {
    font-size: 25px;
  }
  .details h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    margin-top: 0;
    display: block;
  }
  .image {
    height: 200px !important;
    width: 100%;
    background-size: 100%;
  }
  .image .buys {
    width: 60%;
  }
  .info {
    width: 100%;
  }
  .details .title {
    font-size: 27px;
  }
  .details h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    margin-top: 0;
    display: block;
  }
  .image {
    height: 200px !important;
    width: 100%;
    background-size: 100%;
  }
  .image .buys {
    width: 60%;
  }
  .info {
    width: 100%;
  }
  .details .title {
    font-size: 25px;
  }
  .details h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    display: block;
  }
  .image {
    height: 170px !important;
    width: 100%;
    background-size: 100%;
  }
  .image .buys {
    width: 60%;
  }
  .info {
    width: 100%;
  }
  .details .title {
    font-size: 20px;
  }
  .details h4 {
    font-size: 18px !important;
  }
}
/*# sourceMappingURL=main.css.map */